.principal{
    background-image: url(./fondo.jpg);
}
.textBanner{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}
.banner{
    background-size: contain;
    background-position: center;
    background-position-y: center;
    
}
.movie{
    height: 22rem;
    width: 100%;
    text-align: center;
}
.movie .info{
    color: transparent;
    display: grid;
    place-content: center;
}
.movie .info:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    transition: all .5s ease;
    z-index: 10;
}

